<app-add-friend [onAddClickSubject]="clickAddButton"> </app-add-friend>
<app-edit-friend [onEditClickSubject]="clickEditButton"></app-edit-friend>
<nz-layout>
  <nz-header>
    <app-topbar (addFriendEvent)="onAddButtonClick()"
                (editFriendEvent)="onEditButtonClick()"></app-topbar>
  </nz-header>
  <nz-content class="content-class">
    <nz-table
      #friendsTable
      [nzData]="friendList"
      [nzFrontPagination]="false"
      [nzBordered]="true"
      class="table-class"
    >
      <thead>
        <tr>
          <th  >Last Name</th>
          <th > First Name</th>
          <th >Email</th>
          <th >Birthdate</th>
          <th >Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friendList">
          <td [nzChecked]="setOfCheckedId.has(friend.email)" (nzCheckedChange)="onItemChecked(friend.email, $event)"></td>
          <td>{{ friend.lastName }}</td>
          <td>{{ friend.firstName }}</td>
          <td>{{ friend.email }}</td>
          <td>{{ friend.birthdate | date : "dd/MM/yyyy" }}</td>
          <td>{{ friend.phoneNumber }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
  <nz-footer class="footer">
    Made by fratziori
    <a href="https://www.instagram.com/beby__the__beb">@beby__the__beb</a> &
    <a href="https://www.instagram.com/robertmaxim">@robertmaxim</a>
  </nz-footer>
</nz-layout>
