<ul nz-menu nzMode="horizontal" nzTheme="dark" class="topmar">
  <div class="main-items">
    <li nz-menu-item class="disable-selection">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      Add
    </li>
    <li nz-menu-item [nzDisabled]="true" class="disable-selection">
      <span nz-icon nzType="minus-circle" nzTheme="outline"></span>
      Remove
    </li>
    <li nz-menu-item class="disable-selection" [nzDisabled]="true">
      <span nz-icon nzType="edit" nzTheme="outline"></span>
      Edit
    </li>
  </div>
    <li nz-menu-item class="disable-selection">
      <span nz-icon nzType="logout" nzTheme="outline"></span>
      Logout
    </li>

</ul>
