<ul nz-menu nzMode="horizontal" nzTheme="dark" class="topmar">
  <span class="main-items">
    <li nz-menu-item class="disable-selection" (click)="onAddButtonClick()">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      Add
    </li>
    <li nz-menu-item class="disable-selection" (click)="onRemoveButtonClick()">
      <span nz-icon nzType="minus-circle" nzTheme="outline"></span>
      Remove
    </li>
    <li nz-menu-item class="disable-selection" (click)="onEditButtonClick()">
      <span nz-icon nzType="edit" nzTheme="outline"></span>
      Edit
    </li>
    <li nz-menu-item class="disable-selection" (click)="onClosestBirthdayButtonClick()">
      <span nz-icon nzType="search" nzTheme="outline"></span>
      Closest birthday
    </li>
  </span>
  <li>
    <img class="avatar" src={{imageUrl}} alt="">
  </li>
  <li (click)="logout()" nz-menu-item class="disable-selection">
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    Logout
  </li>
</ul>
