.disable-selection{
  user-select: none;
}
.main-items{
  display: flex;
  margin-right: 65%;
}

.topmar{
  display: flex;
  justify-content: space-evenly;
}

.avatar{
  height: 50px;
  left:20px;
  margin-left: -40%;
}

