<ul nz-menu
nzMode="horizontal"
nzTheme="dark"
>
  <li nz-menu-item class="disable-selection">
    <span nz-icon nzType="plus-square" nzTheme="outline"></span>
    Add Friend
  </li>
  <li nz-menu-item
  [nzDisabled]="true"
  class="disable-selection"
  >
    <span nz-icon nzType="minus-square" nzTheme="outline"></span>
    Remove Friend
  </li>
  <li nz-menu-item
  class="disable-selection"
  [nzDisabled]="true"
  >Edit Friend</li>
  <li nz-menu-item
  class="disable-selection">
  Logout
</li>
</ul>
